

h1
{
font-family: Georgia;
font-weight: normal;
text-align: center;
}

h1 a {
text-decoration: none;
color: black;
}

p
{
margin-left: auto;
margin-right: auto;
width: 18 em;
font-family:Georgia;
font-size: 1 em;
color: black;
text-align: justify;
}


div#multicol
{
-webkit-column-count: 2;
-webkit-column-gap: 20 px;
-webkit-column-width: 100 px;
height: 300 px;
width: 200 px;
text-align: justify;
}